.order-item{
    position: sticky;
    top: 20px;
}
.order-item h3,h5{
    text-align: center;
}
.order-item h6,h4{
    padding: 0 15px;
}
.order-item button{
    margin: 30px 8px;
    height: 30px;
    color: white;
    background-color: rgb(253, 55, 55);
    border: none;
}
.order-item button:hover{
    background-color: red;
}